.outer-square {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.inner-square {
  margin: 10px;
  background-color: #008001;
}
.circle {
  margin: 10px;
  border-radius: 50%;
  background-color: #0000ff;
}
